.main-content {
  width: 800px;
  height: auto;
  margin: 150px auto;
}

.header-image {
  height: 400px;
  object-fit: cover;
}

mat-card-subtitle {
  padding-top: 10px;
}

.post-abstract {
  font-size: medium;
}
