<div *ngFor="let post of posts">
  <mat-card class="main-content" routerLink="/post/{{post.id}}">
    <img mat-card-image class="header-image" src="{{post.image}}"  alt=""/>
    <mat-card-title align="left">{{post.title}}</mat-card-title>
    <mat-card-subtitle align="left">Published on {{post.timestamp}}</mat-card-subtitle>
    <mat-card-content>
      <div class="post-abstract">
        <p>
          {{ post.abstract }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions align="left">
      <mat-card-subtitle align="right" style="padding-right: 20px">{{post.like}} Thumbs Up</mat-card-subtitle>
    </mat-card-actions>
  </mat-card>
</div>
